<div id="div-categorias">
    <table id="table-categorias" class="table table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th data-class="expand">ID</th>
            <th data-hide="phone">Descrição</th>
            <th data-hide="phone">Observações</th>
        </tr>
        </thead>
        <tbody>
            {% for index in categorias %}
            <tr id="categoria-{{index.pk}}">
                <td style="cursor:pointer">{{index.pk}}</td>
                <td style="cursor:pointer">{{index.descricao}}</td>
                <td style="cursor:pointer">{{index.obs}}</td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>

