<div id="precos-promocionais">
    <table id="precos_promocionais" class="table table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th data-class="expand">ID</th>
            <th data-hide="phone">Produto</th>
            <th data-hide="phone">Percentual</th>
            <th data-hide="phone,tablet">Preco venda</th>
            <th data-hide="phone,tablet">Empresa</th>
            <th data-hide="phone,tablet">Observacoes</th>
        </tr>
        </thead>
    </table>
</div>
