<div id="tabela-precos">
    <table id="tabela_de_precos" class="table table-bordered table-hover animated fadeInDown" width="100%">
        <thead>
        <tr style="white-space: nowrap;">
            <th data-class="expand">ID</th>
            <th data-hide="phone">Produto</th>
            <th data-hide="phone">Percentual</th>
            <th data-hide="phone,tablet">Preco venda</th>
            <th data-hide="phone,tablet">Cliente</th>
            <th data-hide="phone,tablet">Status</th>
            <th data-hide="phone,tablet">Empresa</th>
            <th data-hide="phone,tablet">Observacoes</th>
        </tr>
        </thead>
        <tbody style="white-space: nowrap;">
        </tbody>
    </table>
</div>