<div>

    <hr>

    <form id='formPesquisaColaboradoresNome'>
        <label style="color:silver" for="nome_colaborador">Buscar pelo nome</label>
        <input id='nome_colaborador' required class="form-control chat-user-filter" placeholder="Nome" type="text">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaColaboradoresID'>
        <label style="color:silver" for="id_colaborador">Buscar pelo ID</label>
        <input id='id_colaborador' required class="form-control chat-user-filter" type="number" step = "1" min="1" placeholder="Id colaborador">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

</div>