{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <title>Web Vendas 2.0</title>
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{% static 'home/assets/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/theme/css/theme.css' %}">
    </head>
	<body>
		<header class="header header-fixed nav-down">
			<div class="box mb-0">
				<div class="">
					<nav class="navbar navbar-default">
						<div class="container-fluid no-padding">
							<div class="navbar-header width-100 pull-left">
								<div class="row">
									<div class="col-md-6">
										<a href="/" class="header-logo-small pull-left">
											<img src="{% static 'home/assets/img/logo.png' %}" alt="store logo">
										</a>

										<div class="header-languages pull-left mt-10">
											<ul>

											</ul>
										</div>
									</div>
									<div class="col-md-6">
										<div class="header-search-container pull-left width-100">
											<form class="navbar-form pull-right mt-15 width-100" action="/" method="GET">
												<fieldset class="width-100">
													<div class="form-group width-100">
														<input class="form-control width-100" name="pesquisa" placeholder="Search" type="text">
													</div>
													<button type="submit" class="btn btn-link small"> PESQUISAR <span class="ti-angle-right"></span></button>
												</fieldset>
											</form>
										</div>
									</div>
								</div>

								<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="ti-menu"></span>
									<span>MENU</span>
								</button>
							</div>

							<div class="collapse navbar-collapse js-navbar-collapse width-100 pull-left navbar-inverse">
								<ul class="nav navbar-nav">
									<li class=""><a href="#"><strong> Olá {% if usuario %} {{usuario.nome}} {% else %} visitante {% endif %} !!!</strong></a></li>
									<li class="header-link dropdown mega">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Categorias</strong> <span class="ti-angle-down"></span></a>

										<ul class="dropdown-menu mega-menu row">
											<li class="col-sm-3">
												<ul>
													<li class="dropdown-header">Mais vendidos</li>
													{% for i in mais_vendidos %}
													<li><a href="?top={{i.descricao_simplificada}}">{{i.descricao_simplificada}}</a></li>
													{% endfor %}
												</ul>
											</li>

											<li class="col-sm-3 col-xs-12 smartphone-fw">
												<ul>
													<li class="dropdown-header">Buscar por categorias</li>
													{% for i in categorias %}
													<li><a href="?cat={{i.descricao}}">{{i.descricao}}</a></li>
													{% endfor %}
												</ul>
											</li>

											<li class="col-sm-3 col-xs-12 smartphone-fw">
												<ul>
													<li class="dropdown-header">Buscar por Marcas</li>
													{% for i in marcas %}
													<li><a href="?marc={{i.descricao}}">{{i.descricao}}</a></li>
													{% endfor %}
												</ul>
											</li>

											<li class="col-sm-3 col-xs-12 smartphone-fw">
												<h3 class="mb-30">Web Vendas 2.0</h3>
												<p>
													Este sistema de vendas foi desenvolvido na linguagem de programção Python juntamente com o FrameWork
													Django.</p>
														<p>Este sistema é compatível com Python 3.7.x e Django 2.x</p>
														<p>Desenvolvemos este sistema e o disponibilizamos para iniciantes em programação para obterem atravéz dele uma base sólida para o implementar, melhorar e
															também desenvolverem outros projetos diferentes ou semelhantes a este.</p>
												<p><strong>Uma nova versão deste projeto está sendo desenvolvida, com mais recursos e melhorias.</strong>
												<p><a href="https://aprendaprogramar.com.br/projetos/586/" target="_blank">Veja o código fonte deste projeto.</a></p>
												<p><a href="https://aprendaprogramar.com.br/projetos/586/?download=1" target="_blank">Baixe o código fonte deste projeto.</a></p>


											</li>
										</ul>
									</li>
									{% if user.is_authenticated %}
									<li class="header-link"><a href="/logout/"><strong> LOGOUT </strong></a></li>
									{% else %}
									<li class="header-link"><a href="/login/"><strong> LOGIN </strong></a></li>
									{% endif %}
									{% if usuario.colaborador.status == 'ATIVO' %}
									<li class="header-link"><a href="/administracao/"><strong> ADMINISTRAÇÃO DO SITE </strong></a></li>
									{% endif %}

								</ul>

								<div class="">
									<ul class="header-helpful-link">
										<li>
											<a href="#"><span class="ti-mobile"></span></a>
										</li>

										<li>
											<a href="#"><span class="ti-user"></span></a>
										</li>

										<li>
											<a href="#"><span class="ti-shopping-cart"><span class="header-cart-counter">3</span></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>

		<div class="container main-container">
			<div class="row mt-30">
				<div class="clearfix visible-xs visible-sm"></div>
				{% block conteudo %}
				<div class="col-md-12">
					<div class="container-fluid">
						{% block login-register %}{% endblock login-register %}
						{% if messages %}
						{% for message in messages %}
						<div class="text-center alert alert-{{ message.tags }} {% if message.tags == 'error'%} alert-danger {% endif %}">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<h5 class="">{{ message }}</h5>
						</div>
						{% endfor %}
						{% endif %}

						<div class="row">

							<div class="col-md-12 flex-list">
								<div class="row">

									{% if busca %}
									{% for produto in busca %}
									<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
										<div class="product-item mb-30 border pt-30 pl-30 pr-30 pb-20">
											<div class="product-item-thumbnail text-center mb-15">
												<a class="product-item-thumbnail-link" href="#"></a>
												<span class="product-item-thumbnail-label">Web Vendas 2.0</span>
												{% if produto.imagem %}
												<img src="/media/{{produto.imagem}}" class="img-responsive" alt="product image">
												{% else %}
												<img src="/media/estoque/produtos/img/product-01.jpg" class="img-responsive" alt="product image">
												{% endif %}
												{% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.edita_produto %}
												{% if produto.imagem %}
												<div class="dropdown dropup">
													<button type="button" class="btn btn-link" data-toggle="dropdown"><span class="badge badge-secondary">menu</span></button>
													<ul class="dropdown-menu">
														<li><a href="#" onclick="window.open('/produtos/alterar-imagem-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=600');">Alterar Imagem principal</a></li>
														<li><a href="#" style="color:red;" onclick="window.open('/produtos/apagar-imagem-principal-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=600');">Apagar Imagem principal</a></li>
														<li><a href="#" onclick="window.open('/produtos/adicionar-imagem-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=650');">Adicionar Imagem aleatória</a></li>
													</ul>
												</div>
												{% else %}
												<div class="dropdown">
													<button type="button" class="btn btn-link" data-toggle="dropdown"><span class="badge badge-secondary">Menu</span></button>
													<ul class="dropdown-menu">
														<li><a href="#" onclick="window.open('/produtos/alterar-imagem-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=600');">Adidionar Imagem principal</a></li>
														<li><a href="#" onclick="window.open('/produtos/adicionar-imagem-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=650');">Adicionar Imagem aleatória</a></li>
													</ul>
												</div>

												{% endif %}
												{% endif %}
											</div>
											<div class="row">
												<div class="col-xs-12 width-100 pull-left" style="height:100px !important;">
													<a class="h5" href="#" style="color:darkred">{{produto.descricao_simplificada}}</a>
													<ul class="product-item-description text-muted small mt-15 mb-15">
														<li style="white-space:nowrap;overflow:hidden">{%if produto.estoque_atual %} Estoque: {{produto.estoque_atual}} {% else %} <strong style="color:red">Ops!!! Já vendemos todo o estoque... {% endif %}</strong></li>
													</ul>
												</div>

												<div class="col-xs-12 width-100 text-center">
													<strong class="h4 product-item-price mb-15" style="color:darkgreen;">R$ {{produto.preco_venda}}</strong>
													<hr>
													<a href="#" class="btn btn-info pl-1" style="text-align:center;">COMPRAR</a>
												</div>

											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<h5 class="text-center" style="color:darkgreen">Veja outros produtos que talvez você pode gostar</h5>
							{% endif %}

							<div class="col-md-12 mt-0 mb-30 width-100 pull-left width-100">
								<h4 class="pull-left">Esta página contém <strong style="color:darkred"> {{cont}} </strong> produtos
								</h4>

						        <div class="dropdown pull-right mt-15 pr-15 smartphone-inline-fw">
						            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default btn-sm dropdown-toggle">
						            Cassificar por
						            <span class="ti-angle-down"></span>
						            </button>
						            <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
						                <li><a href="/?class=AZ&cat={{cat}}&marc={{marc}}&top={{top}}">Pelo nome de A-Z</a></li>
						                <li><a href="/?class=ZA&cat={{cat}}&marc={{marc}}&top={{top}}">Pelo nome de Z-A</a></li>
						                <li><a href="/?class=maior&cat={{cat}}&marc={{marc}}&top={{top}}">Maior preço <span class="ti-arrow-up"></span></a></li>
						                <li><a href="/?class=menor&cat={{cat}}&marc={{marc}}&top={{top}}">Menor preço <span class="ti-arrow-down"></span></a></li>
						            </ul>
						        </div>
							</div>

							<div class="clearfix"></div>

							<div class="col-md-12 flex-list">
								<div class="row">
									{% for produto in produtos %}
									<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
										<div class="product-item mb-30 border pt-30 pl-30 pr-30 pb-20">
											<div class="product-item-thumbnail text-center mb-15">
												<a class="product-item-thumbnail-link" href="#"></a>
												<span class="product-item-thumbnail-label">Web Vendas 2.0</span>
												{% if produto.imagem %}
												<img src="/media/{{produto.imagem}}" class="img-responsive" alt="product image">
												{% else %}
												<img src="/media/estoque/produtos/img/product-01.jpg" class="img-responsive" alt="product image">
												{% endif %}
												{% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.edita_produto %}
												{% if produto.imagem %}
												<div class="dropdown dropup">
													<button type="button" class="btn btn-link" data-toggle="dropdown"><span class="badge badge-secondary">menu</span></button>
													<ul class="dropdown-menu">
														<li><a href="#" onclick="window.open('/produtos/alterar-imagem-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=600');">Alterar Imagem principal</a></li>
														<li><a href="#" style="color:red;" onclick="window.open('/produtos/apagar-imagem-principal-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=600');">Apagar Imagem principal</a></li>
														<li><a href="#" onclick="window.open('/produtos/adicionar-imagem-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=650');">Adicionar Imagem aleatória</a></li>
													</ul>
												</div>
												{% else %}
												<div class="dropdown">
													<button type="button" class="btn btn-link" data-toggle="dropdown"><span class="badge badge-secondary">Menu</span></button>
													<ul class="dropdown-menu">
														<li><a href="#" onclick="window.open('/produtos/alterar-imagem-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=600');">Adidionar Imagem principal</a></li>
														<li><a href="#" onclick="window.open('/produtos/adicionar-imagem-produto/{{produto.pk}}/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=NO, TOP=0, LEFT=200, WIDTH=840, HEIGHT=650');">Adicionar Imagem aleatória</a></li>
													</ul>
												</div>

												{% endif %}
												{% endif %}
											</div>
											<div class="row">
												<div class="col-xs-12 width-100 pull-left" style="height:100px !important;">
													<a class="h5" href="#" style="color:darkred">{{produto.descricao_simplificada}}</a>
													<ul class="product-item-description text-muted small mt-15 mb-15">
														<li style="white-space:nowrap;overflow:hidden">{%if produto.estoque_atual %} Estoque: {{produto.estoque_atual}} {% else %} <strong style="color:red">Ops!!! Já vendemos todo o estoque... {% endif %}</strong></li>
													</ul>
												</div>

												<div class="col-xs-12 width-100 text-center">
													<strong class="h4 product-item-price mb-15" style="color:darkgreen;">R$ {{produto.preco_venda}}</strong>
													<hr>
													<a href="#" class="btn btn-info pl-1" style="text-align:center;">COMPRAR</a>
												</div>

											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endblock conteudo %}
			</div>

			<div class="row">
				<div class="col-md-12">
					<!-- FOOTER -->
				    <footer class="">
				        <div class="footer pt-60 pb-60" id="footer">
				            <div class="container-fluid">
				                <div class="row">
						            <!-- HORIZONTAL SEPARATE -->
									<div class="col-md-12">
										<div class="separate mb-60"></div>
									</div>
									<!-- / HORIZONTAL SEPARATE -->

				                     <div class="smartphone-fw col-sm-3 mb-30">
				                     <h6 class="heading mt-0">{{empresa.nome_fantasia}}</h6>
				                            <address>
				                                <img src="{% static 'home/assets/img/logo.png' %}" alt="store logo" height="20" class="mb-15"><br>
				                                Endereço:<strong style="color:silver"> {{empresa.endereco}}, {{empresa.numero}}</strong> <br>
				                                Bairro: <strong style="color:silver">{{empresa.bairro}}</strong><br>
												Cidade: <strong style="color:silver">{{empresa.cidade}}-{{empresa.uf}}</strong><br>
				                                Fone: <strong style="color:silver">{{empresa.telefone}}</strong><br>
				                            </address>
				                        </div>
				                    <div class="smartphone-fw col-xs-12 col-sm-6 col-md-2 mb-30">
				                        <h6 class="heading mt-0"> MAIS VENDIDOS</h6>
				                        <ul>
				                            {% for i in mais_vendidos %}
											<li><a href="?top={{i.descricao_simplificada}}">{{i.descricao_simplificada}}</a></li>
											{% endfor %}
				                        </ul>
				                    </div>

				                    <div class="smartphone-fw col-xs-12 col-sm-3 col-md-2 mb-30">
				                        <h6 class="heading mt-0">CATEGORIAS</h6>
				                        <ul>
				                            {% for i in categorias %}
											<li><a href="?cat={{i.descricao}}">{{i.descricao}}</a></li>
											{% endfor %}
				                        </ul>
				                    </div>

				                    <div class="smartphone-fw col-xs-12 col-sm-3 col-md-2 mb-30">
				                        <h6 class="heading mt-0">MARCAS</h6>
				                        <ul>
				                             {% for i in marcas %}
											<li><a href="?marc={{i.descricao}}">{{i.descricao}}</a></li>
											{% endfor %}
				                        </ul>
				                    </div>

				                    <div class="col-xs-12 col-sm-12 col-md-3">
				                        <h6 class="heading mt-0">RECEBA NOSSAS PROMOÇÕES</h6>

				                        <form>
				                            <fieldset>
												<div class="form-group">
													<div class="footer-newsletter">
														<input class="form-control" id="firstName" placeholder="informe seu e-mail" type="text">
														<button class="btn btn-link" type="button"><span class="ti-plus"></span></button>
													</div>
												</div>
											</fieldset>
				                        </form>

				                        <ul class="footer-social" data-wow-delay="0.6s">
				                            <li><a href="#" class="pull-left"><span class="ti-facebook"></span></a></li>
				                            <li><a href="#" class="pull-left"><span class="ti-twitter"></span></a></li>
				                            <li><a href="#" class="pull-left"><span class="ti-instagram"></span></a></li>
				                            <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
				                        </ul>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </footer>
					<!-- / FOOTER -->
				</div>
			</div>
		</div>

		<script src="{% static 'home/assets/js/wow.js' %}"></script>
		<script>
		window.jQuery || document.write('<script src="{% static 'home/assets/js/jquery-1.11.2.min.js' %}"><\/script>')
		</script>
		<script src="{% static 'home/assets/js/swiper.min.js' %}"></script>
		<script src="{% static 'home/assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'home/assets/js/jquery.countTo.js' %}"></script>
		<script src="{% static 'home/assets/js/jquery.inview.js' %}"></script>
		<script src="{% static 'home/assets/js/jquery.countdown.js' %}"></script>
			<script src="{% static 'home/assets/js/bootstrap-select.js' %}"></script>
		<script src="{% static 'home/assets/js/main.js' %}"></script>
	</body>
</html>