<div>

    <hr>

    <form id='formPesquisaComprasFornecedor'>
        <label style="color:silver" for="compras-fornecedor">Buscar pelo fornecedor</label>
        <input id='compras-fornecedor' required class="form-control chat-user-filter" placeholder="fornecedor" type="text">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaComprasData'>
        <label style="color:silver" for="compras-data">Buscar pela data</label>
        <input id='compras-data' required class="form-control chat-user-filter" placeholder="data" type="date">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaComprasNF'>
        <label style="color:silver" for="compras-nf">Buscar pela N/F</label>
        <input id='compras-nf' required class="form-control chat-user-filter" placeholder="nota fiscal" type="text">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaComprasID'>
        <label style="color:silver" for="compras-id">Buscar pelo ID</label>
        <input id='compras-id' required class="form-control chat-user-filter" type="number" step = "1" min="1" placeholder="Id compra">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

</div>