<div>

    <hr>

    <form id='formPesquisaUsuariosNome'>
        <label style="color:silver" for="nome_usuario">Buscar pelo nome</label>
        <input id='nome_usuario' required class="form-control chat-user-filter" placeholder="Nome" type="text">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaUsuariosID'>
        <label style="color:silver" for="id_usuario">Buscar pelo ID</label>
        <input id='id_usuario' required class="form-control chat-user-filter" type="number" step = "1" min="1" placeholder="Id usuario">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

</div>