
<form enctype="multipart/form-data" method="post" role="form"  id="form-marcas">{% csrf_token %}
    <div class="row">
        <div id="div_id_marcas" class="form-group col-lg-2 col-md-2 col-xs-2">
            <label for="id_marca">ID</label>
            <input id="id_marca" name="id" type="number" value="0" step="1" class="form-control" readonly>
        </div>

        <div id="div_descricao" class="form-group col-lg-10 col-md-10 col-xs-10">
            <label for="id_descricao_marca">Descrição</label>
            <input id="id_descricao_marca" name="descricao" type="text" max="100" class="form-control" autofocus = "autofocus">
        </div>

        <div id="div_obs" class="form-group col-lg-12 col-md-12">
            <label for="id_obs_marca">Observações</label>
            <textarea id="id_obs_marca" name="obs" class="form-control"></textarea>
        </div>
    </div>
</form>
