<div>

    <hr>

    <form id='formPesquisaProdutosDescricao'>
        <label style="color:silver" for="descricao_produto">Buscar pela descrição</label>
        <input id='descricao_produto' required class="form-control chat-user-filter" placeholder="Descrição" type="text">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaProdutosCodigoBarras'>
        <label style="color:silver" for="descricao_produto">Buscar pelo código de barras</label>
        <input id='codigo_barras' required class="form-control chat-user-filter" placeholder="Código de barras" type="text">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaProdutosID'>
        <label style="color:silver" for="codigo_produto">Buscar pelo ID</label>
        <input id='codigo_produto' required class="form-control chat-user-filter" type="number" step = "1" min="1" placeholder="Id produto">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

</div>