<table id="tb_registros" class="table table-bordered table-hover" width="100%">
    <thead>
    <tr>
        <th data-class="expand">ID</th>
        <th>Nome</th>
        <th data-hide="phone,tablet">RG</th>
        <th data-hide="phone,tablet">CPF</th>
        <th data-hide="phone,tablet">Fone</th>
        <th data-hide="phone,tablet">E-mail</th>
        <th data-hide="phone,tablet">Data nasc.</th>
        <th data-hide="phone,tablet">Est.civil</th>
        <th data-hide="phone,tablet">Sexo</th>
        <th data-hide="phone,tablet">Cep</th>
        <th data-hide="phone,tablet">Logradouro</th>
        <th data-hide="phone,tablet">Região</th>
        <th data-hide="phone,tablet">Status</th>
        <th data-hide="phone,tablet">Permissoes</th>
        {% if user.is_superuser %}
        <th data-hide="phone,tablet">Empresa</th>
        {% endif %}
    </tr>
    </thead>
</table>




