/*!
|||||||||||||||||||||||||||||||||||||| 
||||||||||||||||||||||||||||||||||||||

S E A R C H  S C S S

||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||
*/

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;

    @include smartphone {
        font-size: 30px;
    }
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}