<div class="modal fade" data-backdrop="static" id="modal-cupom-nao-fiscal" role="dialog">
    <div class="modal-dialog" style="z-index: 0;">
        <!-- Modal content-->
        <div class="modal-content" style="width:510px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center text-nuted"><strong>CUPOM NÃO FISCAL</strong></h1>
            </div>
            <div class="modal-body table-responsive" id="cupom-nao-fiscal" style="height:75vh;overflow:auto;">
            </div>
            <div class="modal-footer">
                <button id="imprimir-cupom" type="button" class="btn btn-primary">Imprimir</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>