<h6><a id="informativo_venda" href="#info_venda" data-toggle="collapse"></a></h6>
<div id="info_venda" class="collapse">
</div>

<div id="tabela-itens">
    <table id="tb_itens" class="table table-bordered table-hover" width="100%" style="white-space: nowrap;">
        <thead>
        <tr style="white-space: nowrap;">
            <th data-class="expand">ID</th>
            <th data-hide=""> Descricao do produto</th>
            <th data-hide=""> Quantidade</th>
            <th data-hide=""> Valor unit</th>
            <th data-hide=""> Valor total</th>
            <th data-hide=""> Desc %</th>
            <th data-hide=""> Total desc</th>
            <th data-hide=""> Saldo final</th>
            <th data-hide="phone,tablet">Data</th>
            <th data-hide="phone,tablet">Státus</th>
            <th data-hide="phone,tablet">Cliente</th>
            <th data-hide="phone,tablet">Vendedor</th>
            <th data-hide="phone,tablet">Empresa</th>
            <th data-hide="phone,tablet">Oservações</th>
        </tr>
        </thead>
    </table>
</div>