<div id="tabela">
    <table id="tb_registros" class="table table-bordered table-hover" width="100%">
        <thead>
        <tr style="white-space: nowrap;">
            <th data-class="expand">ID</th>
            <th data-hide="">Cliente</th>
            <th>Valor bruto</th>
            <th>Desconto</th>
            <th>Valor liquido</th>
            <th data-hide="phone">Solicitante</th>
            <th data-hide="phone,tablet">Data venda</th>
            <th data-hide="phone,tablet">Data entrega</th>
            <th data-hide="phone,tablet">Data vencimento</th>
            <th data-hide="phone,tablet">Státus pedido</th>
            <th data-hide="phone,tablet">Státus pagamento</th>
            <th data-hide="phone,tablet">ID pagamento</th>
            <th data-hide="phone,tablet">Vendedor</th>
            <th data-hide="phone,tablet">Empresa</th>
            <th data-hide="phone,tablet">Observações</th>
            <th data-hide="phone,tablet">Endereço de entrega</th>
            <th data-hide="phone,tablet">Oservações entrega</th>
        </tr>
        </thead>

    </table>
</div>