<div id="tabela">
    <table id="tb_registros" class="table table-bordered table-hover" width="100%">
        <thead>
        <tr style="white-space: nowrap;">
            <th data-class="expand">ID</th>
            <th>Data compra</th>
            <th>Valor total</th>
            <th>Fornecedor</th>
            <th data-hide="phone">Solicitante</th>
            <th data-hide="phone,tablet">nota_fiscal</th>
            <th data-hide="phone,tablet">Státus</th>
            <th data-hide="phone,tablet">Pagamento</th>
            <th data-hide="phone,tablet">Státus pagamento</th>
            <th data-hide="phone,tablet">Empresa</th>
            <th data-hide="phone,tablet">Observações</th>
        </tr>
        </thead>
    </table>
</div>
