{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block titulo %} Vendas {% endblock %}

{% block header %}
    <ul id="registros-vendas" class="nav nav-tabs pull-left">
        {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.acessa_registro_venda %}
        <li id="li-tb-vendas" class="active">
            <a data-toggle="tab" href="#tb-vendas"> <i class="fa fa-lg fa-usd"></i> <span class="hidden-mobile hidden-tablet"></span> </a>
        </li>
        {% endif %}
        {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.registra_venda %}
        <li id="li-form-vendas">
            <a data-toggle="tab" href="#form-vendas"> <i class="fa fa-lg fa-user"></i> <span class="hidden-mobile hidden-tablet"></span></a>
        </li>
        {% endif %}
        {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.registra_saida_produto %}
        <li id="li-form-saida-produtos">
            <a data-toggle="tab" href="#form-saida-produtos"> <i class="fa fa-lg fa-shopping-cart"></i> <span class="hidden-mobile hidden-tablet"></span></a>
        </li>
        {% endif %}
        {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.acessa_saida_produto %}
        <li id="li-tb-itens">
            <a data-toggle="tab" href="#tb-itens"> <i class="fa fa-lg fa-cog"></i> <span class="hidden-mobile hidden-tablet"></span></a>
        </li>
        {% endif %}
        <!--
        <li id="li-form-contas">
            <a data-toggle="tab" href="#form-contas"> <i class="fa fa-lg fa-usd"></i> <span class="hidden-mobile hidden-tablet"></span></a>
        </li>
        -->
    </ul>
{% endblock header %}

{% block conteudo%}
<div class="tab-content padding-10">
    {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.acessa_registro_venda %}
    <div class="tab-pane fade in active animated fadeInDown " id="tb-vendas">
        {% include 'vendas/tables/vendas.html' %}
    </div>
    {% endif %}
    {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.registra_venda %}
    <div class="tab-pane fade animated fadeInDown" id="form-vendas">
        {% include 'vendas/forms/cadastro.html' %}
    </div>
     {% endif %}
    {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.registra_saida_produto %}
    <div class="tab-pane fade animated fadeInDown" id="form-saida-produtos">
        {% include 'vendas/forms/saida_produtos.html' %}
    </div>
    {% endif %}
    {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.acessa_saida_produto %}
    <div class="tab-pane fade animated fadeInDown" id="tb-itens">
        {% include 'vendas/tables/itens.html' %}
    </div>
    {% endif %}
    <div class="tab-pane fade animated fadeInDown" id="form-contas">
        {% include 'contas_a_receber/forms/cadastro.html' %}
    </div>
</div>
{% endblock conteudo%}

{% block menu_vendas %}
<li id="vendas" class="active">
    <a href="#"><i class="fa fa-lg fa-fw fa-usd"></i> <span class="menu-item-parent">Vendas</span></a>
    <ul>
        {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.acessa_registro_venda %}
	<li id="vendas-em-andamento" class="active">
        <a  href="#">Em andamento</a>
    </li>
        <li  id="vendas-concluidas-nao-entregues">
            <a href="#">Não entregues</a>
        </li>
        <li  id="vendas-concluidas-entregues">
            <a href="#">Entregues</a>
        </li>
        <li  id="vendas-canceladas">
            <a href="#">Canceladas</a>
        </li>
        {% endif %}
        {% if usuario.permissoes.administrador or usuario.permissoes.administrador_super or usuario.permissoes.registra_venda %}
        <li  id="vendas-nova">
            <a href="#">Iniciar venda</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endblock menu_vendas %}


{% block pesquisa %}
{% include 'vendas/forms/pesquisas.html' %}
{% endblock pesquisa %}


{% block modals %}
{% include 'vendas/modals/cupom_nao_fiscal.html' %}
{% endblock modals %}


{% block cabecalho %}
<ol class="breadcrumb">
    <li><a href="/home/">Home</a></li>
    <li><strong><a href="#">Vendas</a></strong></li>
</ol>
{% endblock cabecalho %}


{% block script%}
<script src="{% static 'js/vendas/vendas.js' %}"></script>
<script src="{% static 'js/vendas/pedidos.js' %}"></script>
{% endblock script%}


{% block estilo%} {% endblock estilo%}


{% block loading %} {% endblock loading %}


{% block javascript %}

<script type="text/javascript">


		$(document).ready(function(){
            $('#form select').addClass("form-control");
            $('#form_saida select').addClass("form-control");
            $("#form_saida select").prop("disabled", true);
            $("#form select").prop("disabled", true);
            $("#formPesquisaSaidaProdutos :input").addClass("form-control");
            $('#id_agente_pagador').addClass("form-control");
            $("#id_agente_pagador").prop("disabled", true);
            //PERSONALIZANDO A TABELA
            pageSetUp();

                var responsiveHelper_tb_registros = undefined;
                var responsiveHelper_datatable_tabletools = undefined;
                var breakpointDefinition = {
                    tablet : 1024,
                    phone : 480
                };

                /* COLUMN SHOW - HIDE */
			$('#tb_registros').dataTable({
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
				"autoWidth" : true,
				"scrollX": true,
                //"scrollY":"400px",
                scrollY:        '50vh',
                //"scrollCollapse": true,
                //"paging": false,
                "stateSave": true,
				"oLanguage": {
					"sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
				},
				"preDrawCallback" : function() {
					// Initialize the responsive datatables helper once.
					if (!responsiveHelper_tb_registros) {
						responsiveHelper_tb_registros = new ResponsiveDatatablesHelper($('#tb_registros'), breakpointDefinition);
					}
				},
				"rowCallback" : function(nRow) {
					responsiveHelper_tb_registros.createExpandIcon(nRow);
				},
				"drawCallback" : function(oSettings) {
					responsiveHelper_tb_registros.respond();
				}
			});

			//FIM DE PERSONALIZANDO A TABELA

			/* TABLETOOLS */
			$('#tb_itens').dataTable({

				// Tabletools options:
				//   https://datatables.net/extensions/tabletools/button_options
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
				"oLanguage": {
					"sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
				},
		        "oTableTools": {
		        	 "aButtons": [
		             "copy",
		             "csv",
		             "xls",
		                {
		                    "sExtends": "pdf",
		                    "sTitle": "Gustavo Perucci",
		                    "sPdfMessage": "Gustavo Perucci PDF Export",
		                    "sPdfSize": "letter"
		                },
		             	{
	                    	"sExtends": "print",
	                    	"sMessage": "Gustavo Perucci <i>(press Esc to close)</i>"
	                	}
		             ],
		            "sSwfPath": "/static/js/plugin/datatables/swf/copy_csv_xls_pdf.swf/"
		        },
				"autoWidth" : true,
				"scrollX": true,
                //"scrollY":"400px",
                scrollY:        '50vh',
                //"scrollCollapse": true,
                //"paging": false,
                "stateSave": true,

				"preDrawCallback" : function() {
					// Initialize the responsive datatables helper once.
					if (!responsiveHelper_datatable_tabletools) {
						responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#tb_itens'), breakpointDefinition);
					}
				},
				"rowCallback" : function(nRow) {
					responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
				},
				"drawCallback" : function(oSettings) {
					responsiveHelper_datatable_tabletools.respond();
				}
			});

			/* END TABLETOOLS */


});

		</script>

{% endblock javascript %}