<div>

    <hr>

    <form id='formPesquisaVendasCliente'>
        <label style="color:silver" for="vendas-cliente">Buscar pelo cliente</label>
        <input id='vendas-cliente' required class="form-control chat-user-filter" placeholder="cliente" type="text">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaVendasData'>
        <label style="color:silver" for="vendas-data">Buscar pela data</label>
        <input id='vendas-data' required class="form-control chat-user-filter" placeholder="data" type="date">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaVendasID'>
        <label style="color:silver" for="vendas-id">Buscar pelo ID</label>
        <input id='vendas-id' required class="form-control chat-user-filter" type="number" step = "1" min="1" placeholder="Id pedido">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

</div>