<div>

    <hr>

    <form id='formPesquisaFornecedoresNome'>
        <label style="color:silver" for="nome_fornecedor">Buscar pelo nome</label>
        <input id='nome_fornecedor' required class="form-control chat-user-filter" placeholder="Nome" type="text">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

    <form id='formPesquisaFornecedoresID'>
        <label style="color:silver" for="id_fornecedor">Buscar pelo ID</label>
        <input id='id_fornecedor' required class="form-control chat-user-filter" type="number" step = "1" min="1" placeholder="Id fornecedor">
        <button type="submit" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">Buscar</button>
    </form>

    <hr>

</div>