<div id="tabela-permissoes">
    <table id="tb_permissoes" class="table table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th data-class="expand">ID</th>
            <th>Descriçao</th>
            <th>Empresa</th>
            <th data-hide="phone,tablet">Administrador</th>
            <th data-hide="phone,tablet">Administrador superior</th>
            <th data-hide="phone,tablet">Cadastro de colaboradores</th>
              <th data-hide="phone,tablet">Cadastro de usuários</th>
            <th data-hide="phone,tablet">Cadastro de permissoes de Usuarios</th>
            <th data-hide="phone,tablet">Cadastro de clientes</th>
            <th data-hide="phone,tablet">Cadastro de fornecedores</th>
            <th data-hide="phone,tablet">Cadastro de produtos</th>
            <th data-hide="phone,tablet">Tabela de preços</th>
            <th data-hide="phone,tablet">Registro de vendas</th>
            <th data-hide="phone,tablet">Registro de compras</th>
            <th data-hide="phone,tablet">Saida de produtos</th>
            <th data-hide="phone,tablet">Entrada de produtos</th>
            <th data-hide="phone,tablet">Contas a pagar</th>
            <th data-hide="phone,tablet">Contas a receber</th>
            <th data-hide="phone,tablet">Pagamentos</th>
            <th data-hide="phone,tablet">Recebimentos</th>
            <th data-hide="phone,tablet">Conteúdo do site</th>
            <th data-hide="phone,tablet">Menságens do site</th>
            <th data-hide="phone,tablet">Observações</th>
        </tr>
        </thead>
    </table>
</div>