{% extends 'home/home.html' %}
				{% block login-register %}

				<div class="col-md-12">
					<div class="container-fluid">
						<div class="row">
							<div class="clearfix"></div>
				           	<div id="login" class="login col-md-6 col-sm-12">
			                    <div class="panel panel-default border p-30">
									<div class="panel-heading ">
			                            <div class="panel-title h3 mb-30">Faça Login
			                                <div class="pull-right login-context-info">
			                                </div>
			                            </div>
			                        </div>
									{% if form.errors %}
            						<h5 class="alert text-center" style="background-color:red;color:white;">{{ form.non_field_errors.as_text }}</h5>
        							{% endif %}
			                        <div class="panel-body">
			                            <form id="loginform" method="POST" class="form-horizontal">{% csrf_token %}
											<input type="hidden" value="{{ next_url }}" name="next" />
											<div class="form-group">
			                                    <div class="col-md-12">
			                                        <label for="id_username">Email</label>
			                                        <input type="text" class="form-control" name="username" id="id_username" placeholder="digite seu email">
			                                    </div>
			                                </div>
			                                <div class="form-group">
			                                    <div class="col-md-12">
			                                        <label for="id_password">Senha</label>
			                                        <input type="password" name="password" class="form-control" id="id_password" placeholder="Digite sua senha">
			                                    </div>
			                                </div>

			                                <div class="form-group mt-30 width-100 text-center">
			                                    <!-- Button -->
			                                    <div class="col-md-12 login-btn">
			                                        <button id="btn-sign-in" type="submit" class="btn btn-primary mb-15">Login  </button>
			                                    </div>
			                                </div>
			                                <div class="form-group">
			                                    <div class="col-md-12 width-100 text-center">
			                                        <a href="#">Esqueci minha senha...</a>
			                                    </div>
			                                </div>
											<br>
											<br>
											<br>
											<br>
											<br>
			                            </form>
			                        </div>
			                    </div>
			                </div>

			                <div id="signup" class="login col-md-6 col-sm-12">
			                    <div class="panel panel-default border p-30">
			                        <div class="panel-heading">
			                            <div class="panel-title h3 mb-30">Não é cadastrado? Cadastre-se.
			                                <div class="login-context-info pull-right">
			                            </div>
			                        </div>
			                    </div>
				                    <div class="panel-body">
				                        <form id="signupform" class="form-horizontal">
				                            <div class="form-group">
				                                <div class="col-md-12">
				                                    <label for="id_email">Email</label>
				                                    <input type="text" class="form-control" name="email" id="id_email" placeholder="Informe seu email">
				                                </div>
				                            </div>
				                            <div class="form-group">
				                                <div class="col-md-12">
				                                    <label for="id_nome">Nome</label>
				                                    <input type="text" class="form-control" name="nome" id="id_nome" placeholder="Informe seu nome">
				                                </div>
				                            </div>
				                            <div class="form-group">
				                                <div class="col-md-12">
				                                    <label for="id_sobre_nome">Sobre Nome</label>
				                                    <input type="text" class="form-control" name="sobre_nome" id="id_sobre_nome" placeholder="Informe seu sobre nome">
				                                </div>
				                            </div>
				                            <div class="form-group">
				                                <div class="col-md-12">
				                                    <label for="id_senha">Senha</label>
				                                    <input type="password" class="form-control" name="senha" id="id_senha" placeholder="Digite uma senha">
				                                </div>
				                            </div>
				                            <div class="form-group mt-30 width-100 text-center">
				                                <!-- Button -->
				                                <div class="col-sm-12 login-btn">
				                                    <a id="btn-sign-up" href="" class="btn btn-primary mb-15">CADASTRAR  </a>
				                                </div>
				                            </div>
				                        </form>
				                    </div>
				                </div>
				            </div>


						</div>
					</div>
				</div>

				{% endblock login-register %}
